<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BTX</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Error</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Education</servlet-name>
    <jsp-file>/education.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Education</servlet-name>
    <url-pattern>/education</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQ</servlet-name>
    <jsp-file>/faq.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQ</servlet-name>
    <url-pattern>/faq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>About</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Whybtx</servlet-name>
    <jsp-file>/whybtx.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Whybtx</servlet-name>
    <url-pattern>/whybtx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Howitworks</servlet-name>
    <jsp-file>/howitworks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Howitworks</servlet-name>
    <url-pattern>/howitworks</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Affiliateprogram</servlet-name>
    <jsp-file>/affiliateprogram.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Affiliateprogram</servlet-name>
    <url-pattern>/affiliateprogram</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TC</servlet-name>
    <jsp-file>/tc.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TC</servlet-name>
    <url-pattern>/tc</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Strategies</servlet-name>
    <jsp-file>/strategies.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Strategies</servlet-name>
    <url-pattern>/strategies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Strategy</servlet-name>
    <jsp-file>/strategy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Strategy</servlet-name>
    <url-pattern>/strategy</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>TCH</servlet-name>
    <jsp-file>/tch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TCH</servlet-name>
    <url-pattern>/tch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tradetillthefinalsecond</servlet-name>
    <jsp-file>/Tradetillthefinalsecond.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tradetillthefinalsecond</servlet-name>
    <url-pattern>/tradetillthefinalsecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deposit</servlet-name>
    <jsp-file>/deposit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/userdeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Withdrawal</servlet-name>
    <jsp-file>/withdrawal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdrawal</servlet-name>
    <url-pattern>/userwithdrawal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Trade</servlet-name>
    <jsp-file>/trade.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trade</servlet-name>
    <url-pattern>/usertrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Operations</servlet-name>
    <jsp-file>/operations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Operations</servlet-name>
    <url-pattern>/useroperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Trading</servlet-name>
    <jsp-file>/trading.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trading</servlet-name>
    <url-pattern>/usertrading</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Referstats</servlet-name>
    <jsp-file>/referstats.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Referstats</servlet-name>
    <url-pattern>/userreferstats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Personalinfo</servlet-name>
    <jsp-file>/personalinfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personalinfo</servlet-name>
    <url-pattern>/userpersonalinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contactsupport</servlet-name>
    <jsp-file>/contactsupport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contactsupport</servlet-name>
    <url-pattern>/usercontactsupport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Educationu</servlet-name>
    <jsp-file>/educationu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Educationu</servlet-name>
    <url-pattern>/usereducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Refer</servlet-name>
    <jsp-file>/referral.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refer</servlet-name>
    <url-pattern>/userrefer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutU</servlet-name>
    <jsp-file>/aboutu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutU</servlet-name>
    <url-pattern>/userabout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQu</servlet-name>
    <jsp-file>/faqu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQu</servlet-name>
    <url-pattern>/userfaq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactU</servlet-name>
    <jsp-file>/contactu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactU</servlet-name>
    <url-pattern>/usercontact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activate</servlet-name>
    <jsp-file>/activate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activate</servlet-name>
    <url-pattern>/activate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Expire</servlet-name>
    <jsp-file>/expire.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expire</servlet-name>
    <url-pattern>/expire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/loginprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginProcess</servlet-name>
    <jsp-file>/check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositHistory</servlet-name>
    <jsp-file>/deposithistory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositHistory</servlet-name>
    <url-pattern>/deposithistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransactionHistory</servlet-name>
    <jsp-file>/transactionhistory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionHistory</servlet-name>
    <url-pattern>/transactionhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WithdrawalHistory</servlet-name>
    <jsp-file>/withdrawalhistory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalHistory</servlet-name>
    <url-pattern>/withdrawalhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>100FreeStrategies</servlet-name>
    <jsp-file>/100freestrategies.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>100FreeStrategies</servlet-name>
    <url-pattern>/100freestrategies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradingExchange</servlet-name>
    <jsp-file>/tradingexchange.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradingExchange</servlet-name>
    <url-pattern>/tradingexchange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUser</servlet-name>
    <jsp-file>/adminuser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUser</servlet-name>
    <url-pattern>/adminuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserView</servlet-name>
    <jsp-file>/adminuserview.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserView</servlet-name>
    <url-pattern>/adminuserview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kycu</servlet-name>
    <jsp-file>/kycu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kycu</servlet-name>
    <url-pattern>/userkyc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adminlogin</servlet-name>
    <jsp-file>/adminlogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adminloginprocess</servlet-name>
    <jsp-file>/adminloginprocess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminloginprocess</servlet-name>
    <url-pattern>/adminloginprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTrading</servlet-name>
    <jsp-file>/admintrading.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTrading</servlet-name>
    <url-pattern>/admintradinghistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDashboard</servlet-name>
    <jsp-file>/admindashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/admindashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Active</servlet-name>
    <jsp-file>/active.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Active</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReferralRegister</servlet-name>
    <jsp-file>/referralregister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReferralRegister</servlet-name>
    <url-pattern>/referralregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReferralSuccess</servlet-name>
    <jsp-file>/referralsuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReferralSuccess</servlet-name>
    <url-pattern>/referralsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentSuccess</servlet-name>
    <jsp-file>/paymentsuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentSuccess</servlet-name>
    <url-pattern>/paymentsuccess</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PaymentFail</servlet-name>
    <jsp-file>/paymentfail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentFail</servlet-name>
    <url-pattern>/paymentfail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminProfit</servlet-name>
    <jsp-file>/adminprofit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfit</servlet-name>
    <url-pattern>/adminprofit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContact</servlet-name>
    <jsp-file>/admincontact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContact</servlet-name>
    <url-pattern>/admincontact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContactReply</servlet-name>
    <jsp-file>/admincontactreply.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactReply</servlet-name>
    <url-pattern>/admincontactreply</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Adminwithdrawalrequest</servlet-name>
    <jsp-file>/adminwithdrawalrequest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminwithdrawalrequest</servlet-name>
    <url-pattern>/adminwithdrawalrequest</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Adminwithdrawalpay</servlet-name>
    <jsp-file>/adminwithdrawalpay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminwithdrawalpay</servlet-name>
    <url-pattern>/adminwithdrawalpay</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>Adminwithdrawndetails</servlet-name>
    <jsp-file>/adminwithdrawndetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminwithdrawndetails</servlet-name>
    <url-pattern>/adminwithdrawndetails</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>Imageupload</servlet-name>
    <jsp-file>/imageupload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imageupload</servlet-name>
    <url-pattern>/imageupload</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Forgetpassword</servlet-name>
    <jsp-file>/forgetpassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgetpassword</servlet-name>
    <url-pattern>/forgetpassword</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Forget</servlet-name>
    <jsp-file>/forget.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget</servlet-name>
    <url-pattern>/forget</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Adminexpire</servlet-name>
    <jsp-file>/adminexpire.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminexpire</servlet-name>
    <url-pattern>/adminexpire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Forum</servlet-name>
    <jsp-file>/forum.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum</servlet-name>
    <url-pattern>/userforum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumUser1</servlet-name>
    <jsp-file>/forumuser1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser1</servlet-name>
    <url-pattern>/userforum_1</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser2</servlet-name>
    <jsp-file>/forumuser2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser2</servlet-name>
    <url-pattern>/userforum_2</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser3</servlet-name>
    <jsp-file>/forumuser3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser3</servlet-name>
    <url-pattern>/userforum_3</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser4</servlet-name>
    <jsp-file>/forumuser4.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser4</servlet-name>
    <url-pattern>/userforum_4</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser5</servlet-name>
    <jsp-file>/forumuser5.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser5</servlet-name>
    <url-pattern>/userforum_5</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser6</servlet-name>
    <jsp-file>/forumuser6.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser6</servlet-name>
    <url-pattern>/userforum_6</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser7</servlet-name>
    <jsp-file>/forumuser7.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser7</servlet-name>
    <url-pattern>/userforum_7</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser8</servlet-name>
    <jsp-file>/forumuser8.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser8</servlet-name>
    <url-pattern>/userforum_8</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser9</servlet-name>
    <jsp-file>/forumuser9.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser9</servlet-name>
    <url-pattern>/userforum_9</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumUser10</servlet-name>
    <jsp-file>/forumuser10.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumUser10</servlet-name>
    <url-pattern>/userforum_10</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumAdmin</servlet-name>
    <jsp-file>/forumadmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAdmin</servlet-name>
    <url-pattern>/forumadmin</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumAdminDelete</servlet-name>
    <jsp-file>/forumadmindelete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAdminDelete</servlet-name>
    <url-pattern>/forumadmindelete</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumAdminProceed</servlet-name>
    <jsp-file>/forumadminproceed.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAdminProceed</servlet-name>
    <url-pattern>/forumadminproceed</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ForumRequest</servlet-name>
    <jsp-file>/forumrequest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumRequest</servlet-name>
    <url-pattern>/forumrequest</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>NoofReferral</servlet-name>
    <jsp-file>/noofreferral.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoofReferral</servlet-name>
    <url-pattern>/registereduser</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Commission</servlet-name>
    <jsp-file>/commission.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commission</servlet-name>
    <url-pattern>/commission</url-pattern>
  </servlet-mapping>
</web-app>